.wrapper {
    margin: 0 16px;
    padding: 24px 0;
}

.content-item {
    position: relative;
    display: flex;
    align-content: flex-start;
    padding: 20px 0;

    .follow-btn {
        position: absolute;
        right: 0;
    }
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.item-desc {
    padding-left: 12px;
}


.nickname {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 25px;
    margin-right: 4px;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}

.check{
    color: #20d5ec;
    font-size: 14px;
    display: inline-block;
    margin-right: 4px;
}

.name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 25px;
    display: inline-block;
}

.desc {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 1);
}

.hashtag-link {
    font-weight: 600;
    margin-right: 4px;

    &:hover {
        color: rgba(22, 24, 35, 1);
        -webkit-text-decoration: underline;
        text-decoration: underline;
    }
}

.bg-music {
    display: block;
    margin: 4px 0 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;

    &:hover {
    color: rgba(22, 24, 35, 1);
    -webkit-text-decoration: underline;
    text-decoration: underline;
    }

    span {
        margin-right: 5px;
    }
}

.action-video {
    display: flex;
    align-items: flex-end;
}

.video {
    margin-right: 20px;
}

.action-btn {
    display: flex;
    flex-direction: column;
}

.func-btn {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    cursor: pointer;

    strong {
        margin: auto;
        color: rgba(22, 24, 35, .75);
        font-size: 1.2rem;
        line-height: 17px;
    }
}

.action-icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: rgba(22, 24, 35, .06);
    font-size: 2.4rem;
    display: flex;
    margin: 8px 0 6px 0;
}

.icon {
    margin: auto;
}

.active {
    background-color: red;
}

// comment overlay

.cmt-checkbox {
    display: none;

    &:checked ~ .comment-overlay {
        display: flex;
    }
}

.comment-overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--black);
    display: none;
}

.video-box {
    flex: 1 1 896px;
    background: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}

.video-background {
    display: flex;
}

.comment-video {
    margin: auto;
    height: 100vh;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 20px;
    display: flex;
    color: var(--white);
    background: rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    transition: opacity 0.3s ease 0s;
    font-size: 2.4rem;
    cursor: pointer;

    .close-icon {
        margin: auto;
    }

    &:hover {
        opacity: 0.7;
    }
}

.logo {
    position: absolute;
    top: 20px;
    left: 84px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    color: rgba(22, 24, 35, 1);
    background-color: rgba(255, 255, 255, 1);
    overscroll-behavior: contain;
}

.report-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
    padding: 10px 16px;
    background-color: rgba(255, 255, 255, 0.12);
    color: var(--white);
    border-radius: 100px;

    .report-icon {
        margin-right: 5px;
    }

    &:hover {
        opacity: 0.7;
    }
}

.comment-box {
    flex: 0 0 544px;
    width: 544px;
    display: flex;
    flex-direction: column;
    padding: 32px 0px 0px;
    background-color: var(--white);
}

.comment-content {
    padding: 0 32px;
}

.cmt-heading {
    display: flex;
    align-items: center;
    padding: 22px 0 15px;
}

.comment-avt {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    flex: 0 0 40px;
    margin-right: 12px;
    cursor: pointer;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.dot {
    margin: 0 4px;
}

.cmt-info .bg-music {
    margin: 10px 0 16px;
}

.cmt-func-btn {
    display: flex;
    padding-top: 16px;

    .func-btn {
        flex-direction: row;

        .action-icon {
            margin: 0 6px 0 0;
            height: 32px;
            width: 32px;
            font-size: 2rem;
        }
    }

    .comment {
        margin-left: 20px;
    }
}

.cmt-video-link {
    display: flex;
    margin-top: 16px;
    padding-bottom: 16px;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1 1 auto;
        padding: 7px 0px 5px 12px;
        font-size: 1.4rem;
        color: #161823bf;
        background-color: rgba(22, 24, 35, 0.06);
    }

    .copy-link {
        height: 34px;
        border: none;
        background: none rgba(22, 24, 35, 0.06);
        outline: none;
        color: rgb(22, 24, 35);
        font-weight: 700;
        flex: 0 0 auto;
        cursor: pointer;
        padding: 7px 18px;
    }
}

.comment-item {
    width: 100%;
    padding: 24px 32px;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid rgba(22, 24, 35, 0.2);
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    overflow: hidden auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.cmt-input-wrapper {
    flex: 0 0 auto;
    background-color: rgb(255, 255, 255);
    margin: 0px 30px;
    padding: 21px 0px;
}

.input-box {
    flex: 1 1 auto;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgba(22, 24, 35, 0.06);
}

.cmt-input {
    flex: 1 1 auto;
    height: auto;
    margin: 10px 8px 10px 0px;
    font-size: 1.4rem;
    line-height: 17px;
    background-color: transparent;
}

.cmt-input-box {
    display: flex;
}

.input-box {
    padding: 0 9px;
    display: flex;
}

.cmt-input-icon {
    margin: 3px;
    padding: 5px;
    line-height: 0;
}

.post-btn {
    background-color: transparent;
    color: rgba(22, 24, 35, 0.34);
    font-size: 14px;
    cursor: pointer;
    flex: 0 0 48px;
    line-height: 39px;
    text-align: right;
    margin-right: 4px;
}

