.wrapper {
    width: 320px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    background-color: var(--white);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 20px 20px 0 20px;
}

.avatar {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.body {
    padding: 0 20px 20px 20px;
}

.nickname {
    display: flex;
    align-items: center;
}

.check {
    color: rgb(32, 213, 236);
    font-size: 1.4rem;
    margin-left: 4px;
}

.name {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 1);
}

.analytics {
    margin-top: 8px;
}

.value {
    font-weight: 700;
    margin-right: 6px;
    font-size: 17px;
    line-height: 20px;
}

.lable {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.7rem;
    line-height: 20px;
    margin-right: 12px;
}